p{
  text-align: center;
  font-size: small;
}

.place_holder1{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}

.card_wrapper{
  height: 500px;
  margin-top: 200px;
  margin-bottom: 10px;
}

.redirect{
  margin:auto;font-size: 24px; margin-right: 30%;
  margin-left: 30%; height: 200px; width: 320px;
}

.redirect_link{
  margin-top:10px
}
