<div class="place_holder1"></div>

<div class="card_wrapper">
<mat-card routerLink="home" class="redirect">{{content}}
  <p class="redirect_link">Click above to redirect now</p>
  <p>Redirect in {{redirectCountDown}}</p>
</mat-card>

</div>
