

<div class="header"></div>
<h1 class="header_text"> Frequently Asked Question </h1>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>tae vitae dicta sunt explicabo?</span>
    </mat-expansion-panel-header>
    <p>Sed ut perspiciatis unde omnis ' 'iste natus error sit voluptatem accusantium '
      'doloremque laudantium, totam rem aperiam, eaque '
      'ipsa quae ab illo inventore veritatis et quasi architecto'
      ' beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem '
      'quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur '
      'magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam '
      'est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed'
      ' quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliq</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>iste natus error sit voluptatem?</span>
    </mat-expansion-panel-header>
    <p>
      Sed ut perspiciatis unde omnis ' 'iste natus error sit voluptatem accusantium '
      'doloremque laudantium, totam rem aperiam, eaque '
      'ipsa quae ab illo inventore veritatis et quasi architecto'
      ' beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem '
      'quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur '
      'magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam '
      'est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed'
      ' quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliq
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>non numquam eius modi tempora?</span>
    </mat-expansion-panel-header>
    <p>
      Sed ut perspiciatis unde omnis ' 'iste natus error sit voluptatem accusantium '
      'doloremque laudantium, totam rem aperiam, eaque '
      'ipsa quae ab illo inventore veritatis et quasi architecto'
      ' beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem '
      'quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur '
      'magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam '
      'est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed'
      ' quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliq
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>doloremque laudantium?</span>
    </mat-expansion-panel-header>
    <p>
      Sed ut perspiciatis unde omnis ' 'iste natus error sit voluptatem accusantium '
      'doloremque laudantium, totam rem aperiam, eaque '
      'ipsa quae ab illo inventore veritatis et quasi architecto'
      ' beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem '
      'quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur '
      'magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam '
      'est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed'
      ' quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliq
    </p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span>quae ab illo inventore veritatis?</span>
    </mat-expansion-panel-header>
    <p>
      Sed ut perspiciatis unde omnis ' 'iste natus error sit voluptatem accusantium '
      'doloremque laudantium, totam rem aperiam, eaque '
      'ipsa quae ab illo inventore veritatis et quasi architecto'
      ' beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem '
      'quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur '
      'magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam '
      'est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed'
      ' quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliq
    </p>
  </mat-expansion-panel>

<!--<br><br>-->
<!--<img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????">-->
<!--<br>-->
<!--<img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????">-->
<!--<br>-->
<!--<img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????">-->
<!--<br>-->
<!--<img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????"><img src="../../assets/question.gif" alt="??????">-->
