p{
  font-size: 20px;
  width: 60%;
  margin-right: auto;
}
h2{
  width: 40%;
  text-align: center;
  margin: auto;
}
h1{
  margin-top: 100px;
}
span{
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.header_text{
  text-align: center;
}
