
<mat-toolbar color="primary" class="scroll-transition top">

  <button id="ham"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button color="primary"
          (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a style="color: black;font-size: larger;font-weight: bolder; margin-bottom: 1px;" >{{title}}</a>

  <span id="hor-bar" class="wrapContent padschildrenleftright">
    <a  routerLink="home" mat-card-title>{{home}}</a>
    <a  routerLink="operatorClockIn" mat-card-title *ngIf="rm.isOperator()">Clock In/Out</a>
    <a routerLink="adminClockIn" mat-card-title *ngIf="rm.isAdmin()">Clock In/Out</a>
    <a  routerLink="operatorMessage" mat-card-title *ngIf="rm.isOperator()">Message</a>
    <a  routerLink="adminMessage" mat-card-title *ngIf="rm.isAdmin()">Message</a>
    <a  routerLink="operatorAbsence" mat-card-title *ngIf="rm.isOperator()">Request Leave</a>
    <a  routerLink="operatorProfile" mat-card-title *ngIf="rm.isOperator()">Profile</a>
    <a  routerLink="adminProfile" mat-card-title *ngIf="rm.isAdmin()">Profile</a>
    <a  routerLink="faq" mat-card-title>FAQ</a>
    <a  routerLink="contact" mat-card-title>Contact</a>
    <a routerLink="manage" mat-card-title *ngIf="rm.isAdmin()">Manage</a>
  </span>


  <span style="margin-left: auto">
    <a class="btn btn-outline-light" routerLink="login" *ngIf="!ls.user;else out" style="margin-right: 5px">login</a>
    <a class="btn btn-outline-light" routerLink="register" *ngIf="!ls.user">register</a>
  </span>
</mat-toolbar>

<mat-sidenav-container style="height: 100%">
  <mat-sidenav style="position: fixed; width: 240px;"
    #sidenav mode="over"
               [(opened)]="opened"
               (opened)="events.push('open')">
    <mat-nav-list>
      <mat-list-item style="margin-top: 20px;">&nbsp;</mat-list-item>
      <mat-list-item>
        <a routerLink="home" mat-card-title>{{home}}</a>
      </mat-list-item>

      <br>

      <mat-list-item *ngIf="rm.isOperator()">
        <a routerLink="operatorClockIn" mat-card-title>Clock In/Out</a>
      </mat-list-item>

      <mat-list-item *ngIf="rm.isAdmin()">
        <a routerLink="adminClockIn" mat-card-title>Clock In/Out</a>
      </mat-list-item>

      <br *ngIf="rm.isOperator() || rm.isAdmin()">

      <mat-list-item *ngIf="rm.isOperator()">
        <a routerLink="operatorMessage" mat-card-title>Message</a>
      </mat-list-item>

      <mat-list-item *ngIf="rm.isAdmin()">
        <a routerLink="adminMessage" mat-card-title>Message</a>
      </mat-list-item>

      <br *ngIf="rm.isOperator() || rm.isAdmin()">

      <mat-list-item *ngIf="rm.isOperator()">
        <a routerLink="operatorAbsence" mat-card-title>Request Leave</a>
      </mat-list-item>
      <br *ngIf="rm.isOperator()">

      <mat-list-item *ngIf="rm.isOperator()">
        <a routerLink="operatorProfile" mat-card-title>Profile</a>
      </mat-list-item>

      <mat-list-item *ngIf="rm.isAdmin()">
        <a routerLink="adminProfile" mat-card-title>Profile</a>
      </mat-list-item>

      <br *ngIf="rm.isOperator() || rm.isAdmin()">

      <mat-list-item>
        <a routerLink="faq" mat-card-title>FAQ</a>
      </mat-list-item>
      <br>
      <mat-list-item>
        <a routerLink="contact" mat-card-title>Contact</a>
      </mat-list-item>
      <br *ngIf="rm.isAdmin()">

      <mat-list-item *ngIf="rm.isAdmin()">
        <a routerLink="manage" mat-card-title>Manage</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
  <div id="router-outlet">
     <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #out>
  <a class="btn btn-outline-light" routerLink="" (click)="logoutChecker()">logout</a>
</ng-template>

