mat-toolbar {
  height: fit-content;
  position: fixed;
  z-index: 100;
}

mat-sidenav-content {
  opacity: 1;
}

#router-outlet {
  height: 100%;
  background-color: white;
}

#ng-template {
  color: aqua;
}

.home {
  color: black;
  font-weight: bolder;
  font-size: larger;
}

.wrapContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.padschildrenleftright > a{
  padding-left: 15px;
  padding-right: 15px;
}



@media screen and (max-width: 900px) {
  #hor-bar {
    display: none;
  }

  #ham {
    display: block;
  }
}

@media screen and (min-width: 901px) {
  .wrapContent {
    display: flex;
    flex-wrap: wrap;
  }

  #ham {
    display: none;
  }
}

.top {
  position: fixed;
  background-color: transparent;
  padding-top: 30px;

}

.scroll-transition {
  transition: all 0.3s ease-in-out;
}

.change {
  transition: all 0.4s;
  float: top;
}

.moved {
  position: fixed;
  background-color: #f54336;
}

.mat-card-title {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 0px;
}

.scroll-transition .mat-card-title:hover {
  background-color: #f35454;
  color: #f2f2f2;

}

.moved .mat-card-title {
  color: #f2f2f2;
}

.top  .mat-card-title {
  color: #ffbf00;
  font-weight: 300;
}

.background{
  background-color: white;
}
