#reason{
  color: blueviolet;
}
button{
  display: block;
}
#abs_container{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;

}
form{
  background-color: white;
  box-shadow: 10px 10px 10px 5px#717171;
  padding: 25px;
  height: 100%;
  overflow: auto;
}
form > *{
  margin-top:30px;
}
@media screen and (max-width: 400px) {
  #startmonth{
    display: block;
  }
  #startday{
    display: block;
  }
  #endmonth{
    display: block;
  }
  #endday{
    display: block;
  }
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.bad_input{
  color: red;
  font-weight: bolder;
}
.good_input{
  color: green;
  font-weight: bolder;
}
