<div class="header"></div>

<div id="abs_container">
  <form class="form-group">
    <h1> Request for Absence</h1>
    From:
    <input id="startmonth" type="number" placeholder="month(01-12)" class="form-control">
    <input id="startday" type="number" placeholder="day"  class="form-control">
    <br>To:
    <input  id="endmonth" type="number" placeholder="month(01-12)"  class="form-control">
    <input id="endday" type="number" placeholder="day"  class="form-control">
    <br>
    Reason:
    <br>
    <textarea class="form-control" rows="7" cols="50" id="reason" placeholder="Reason to leave"></textarea>
    <button class="btn btn-outline-primary" (click)="submitAbsenceRequest()">submit</button>
    <p *ngIf="!validInput && !state"
       class="bad_input">Invalid Input!</p>
    <p *ngIf="validInput && state"
    class="good_input">Submission Successful!</p>
  </form>
</div>
