<style>

</style>
  <h1 mat-dialog-title>Update</h1>
  <div mat-dialog-content>
        Enforce Penalty:

            <input id="penalty" [(ngModel)]="data.penalty" value="{{data.penalty}}">
          <span>$</span>
      <br>
      Summary:<br>
          <label>
            <textarea rows="5" cols="50" id="update_details"
              [(ngModel)]="data.summary" style="color: black">
              {{data.summary}}
            </textarea>
          </label>

  </div>
  <div mat-dialog-actions>
    <button class="btn btn-warning" (click)="enforce()">Enforce</button>
    <button class="btn btn-dark" (click)="cancel()">Cancel</button>
  </div>

