#offense_summary{
  background-color: transparent;
  border: none;
}
#offense_container{
  border: whitesmoke solid 1px;
  overflow: auto;
  box-shadow: 2px 2px 5px 2px black;
}

.black_text{
  color: black;
}
#update_details{
  border: lightgray 1px groove;
  border-radius: 10px;
}
#penalty{
  color: red;
  font-weight: bolder;
  font-style: italic;
}
span{
  font-weight: bold;
  font-style: italic;
  font-size: large;
}
