<div id="offense_container">
  <h2>
    Employee Id: {{id}}
  </h2>
  <table *ngIf="hasRecord;else noOffense" class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Penalty</th>
        <th>Summary</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offense of offenseRecord">
        <td>{{offense.id}}</td>
        <td>{{offense.penalty}}</td>
        <td>
          <textarea readonly id="offense_summary"
                    rows="5" cols="15" class="black_text">
            {{offense.behaviorsummary}}
          </textarea>
        </td>
        <td><button class="btn btn-outline-info"
          (click)="openDialog(offense.id, offense.penalty, offense.behaviorsummary)">Update</button></td>
      </tr>
    </tbody>
  </table>
  <ng-template #noOffense>No Offense Records!</ng-template>
</div>
