p{
  padding: 4px;
  font-family: "Adobe Hebrew",cursive;
  font-size: larger;
}
button{
  margin: 10px;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}
.center{
  margin:50px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.backgroundHandler{
  box-shadow: 10px 10px 20px 15px #717171;
  background-color: white;
  opacity: 2;
}
.center_item{
  margin-left:auto;
  margin-right:auto;

}
#button_container{
  width: fit-content;
}
.top_margins{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.iframe_blocker{
  position: absolute;
  width:210px;
  height: 210px;
  z-index: 2;
}
.disable_event{
  position: absolute;
  z-index: 1;
}
