
<div class="top_margins"></div>
<div class="center backgroundHandler" id="clock_container">
  <h1 class="center_item">administrator clock in/out</h1>
  <h2 class="center_item">{{placeholder| date: 'medium'}}</h2>
  <span>
    <div id="button_container" class="center_item">
      <button class="btn btn-outline-primary" (click)="onClockIn()">clock in</button>
      <button class="btn btn-outline-success" (click)="onClockOut()">clock out</button>
    </div>
  </span>
  <p class="center_item">Message:{{message}}</p>
  <div class="center_item">
    <div class="iframe_blocker"></div>
    <iframe class="center_item"
            src="http://free.timeanddate.com/clock/i6q6oko7/n251/szw210/szh210/cf100/hnce1ead6/hcw2"  width="210" height="210">
    </iframe>
  </div>
</div>
