p{
  text-align: center;
  font-size: small;
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.link_text{
  font-size: 24px;
  margin: auto;width:320px; height: 200px;
}
.redirect_text{
  margin-top: 20px;
}
.notification{
  height: 400px;
  margin-top: 300px;
}
