<div class = header></div>

<div class="notification">
  <mat-card routerLink="home" class = "link_text">
    {{content}}
    <p class="redirect_text">Click above to redirect now</p>
    <p>Redirect in: {{redirectCountDown}}S</p>
  </mat-card>
</div>
