#fakeHeader{
  background-color: #f54336;
  height: 250px;
  padding: 10px;
}

#nonheader-contact{
  width: 100%;
  height: 100%;
  background-color: white;
}
#message{
  display: inline-block;
  width: 60%;
  height: fit-content;
  padding: 10px;
}
#contactInfo{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  height: fit-content;
  padding: 10px;
}
label{
  width: 100%;
}
input{
  width: 100%;
  border: solid black 1px;
  border-radius: 10px;
}
textarea{
  width: 100%;
  height: 300px;
  border: solid black 1px;
  border-radius: 15px;
}
img{
  width: 100%;
  height: auto;
}
p{
  font-size: larger;
}
@media all and (max-width: 800px) {
  #contactInfo{
    display: block;
  }
  #message{
    display: block;
  }
}
.header_text{
  text-align: center;
  margin-top: 65px;
}
.requirement_description{
  padding-top: 20px;
}
.red_span{
  color: red;
}
.form_title{
  font-weight: bolder;
}
.full_input_width{
  width: 100%;
}
.delivering{
  color: yellowgreen;
}
.green_span{
  color:green;
}
.image_size{
  width: available;
  height: available
}
.phone_number{
  font-weight: bold;
}
