
<div id="fakeHeader">
  <h1 class="header_text">CONTACT US</h1>
</div>
<div id="nonheader-contact">
  <div id="message">
    <h1>Questions?</h1>
    <p>
      Fill out the form below and someone from our home office in Wooster, Ohio will get back to you shortly.
    </p>

    <p class="requirement_description">
      Fields marked with an <span class="red_span"> *</span> are required
    </p>

    <h2 class="form_title">Name<span class="red_span"> *</span></h2>
    <label >
      <input matInput (click) = "nameFieldClicked($event)"
             [(ngModel)]="name" class="full_input_width" placeholder="Your Name">
    </label>
    <p *ngIf="!hasName() && nameclick" class="red_span">Name can't be empty!</p>

    <h2 class="form_title">Email<span class="red_span"> *</span></h2>
    <label >
      <input matInput [(ngModel)]="email" (click) = "emailFieldClicked()"
             placeholder="Your Email" type="email">
    </label>
    <p *ngIf="!isEmail() && emailclick" class="red_span">Must be a valid email!</p>

    <h2>Message<span class="red_span"> *</span></h2>
    <label >
      <textarea (click) = "contentFieldClicked()"
        matInput placeholder="Leave a message"
        [(ngModel)]="message"></textarea>
    </label>
    <p *ngIf="!hasContent() && contentclick" class="red_span">Message can't be empty!</p>
    <button (click)="send()"
            mat-raised-button
            [disabled]="!isEmail() || !hasContent() || !hasName() || delivering">
      Submit
    </button>
    <p class="delivering" *ngIf="delivering">Attempting to Deliver</p>
    <p  *ngIf="hasDeliverResult">
      <span
        class="green_span"
        *ngIf="delivered; else deliverfailed">Delivered!</span>
    </p>
  </div>

  <div id="contactInfo">
    <div>
      <img src="../../assets/contact.jpg"
           alt="Unable to find image"
           style="">
    </div>
    <div>
      <p><i>Need to call? You can reach us with this number!</i></p>
      <p class="phone_number"><u>911</u></p>
      <p>Mon. – Fri., 8 a.m. – 5 p.m. EST</p>
    </div>
  </div>
</div>

<ng-template #deliverfailed>
 <span class="red_span">Deliver Failed</span>
</ng-template>
