<div class="header"></div>

<div id="login_container" >
  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" class="backgroundHandler">
    <p *ngIf="waitingForServerResponse">Attempting to Sign in</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label> Username </mat-label>
        <input matInput class="form-control"  formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
      <mat-label >Password:</mat-label>
        <input matInput type="password" class="form-control" formControlName="password">
      </mat-form-field>
    </div>
    <p *ngIf="ls.loginFailure" class="error_login">Invalid Username Or Password!</p>
    <button mat-raised-button
      type="submit"
      class="btn btn-primary btn-block text-uppercase"
      [disabled]="!loginFormGroup.valid || waitingForServerResponse">login</button>

  </form>
</div>
