input{
  width: 100%;
}
div{
  width: 100%;
}
mat-form-field{
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
button{
  horiz-align: center;
  padding-bottom: 30px;
  font-size: inherit;
  margin: auto;
  width: 30%;
  height: 30px;
}
form{
  display: flex;
  flex-direction: column;
  border: lightblue 1px;
  box-shadow: 6px 6px 10px 12px #bbbbbb;
  padding: 50px;
  height: 60%;
  width: 40%;

  margin: auto;

  overflow: auto;
}
#login_container{
  height: 100%;
  width: 100%;
  margin: 50px auto;
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.error_login{
  color: red;
  font-weight: bolder;
}
