<div id="slide_show">

<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <div style="background-image: url('../../../assets/main1.jpg'); background-attachment: fixed;  background-repeat: no-repeat; background-position: center top; background-size: cover;" class="slideshow-image-specification" alt="Error Loading Image"></div>
   <!-- <div class="text">Office Building</div>-->
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <div style="background-image: url('../../../assets/main2.jpg'); background-attachment: fixed;  background-repeat: no-repeat; background-position: center top; background-size: cover;" class="slideshow-image-specification" alt="Error Loading Image"></div>
    <!--<div class="text">Inside</div>-->
  </div>

</div>
<br>
<ng-content></ng-content>


</div>
