<div class="header"></div>

<div class = "center backgroundHandler">
  <h1  class="center_item clock_in_text">Operator, please clock in/out</h1>
  <h2 class="center_item time_border">{{today | date:'medium'}}</h2>
  <span>
    <div class="center_item button_container">
      <button class="btn btn-outline-primary" (click)="onClockIn()">Clock In</button>
      <button class="btn btn-outline-success" (click)="onClockOut()">Clock Out</button>
    </div>
  </span>
  <P class="center_item">Message:{{messageForOperator}}</P>
  <p class="center_item">9AM Clock In:{{reportStatus[0]}}</p>
  <p class="center_item">11AM Clock Out:{{reportStatus[1]}}</p>
  <p class="center_item">12PM Clock In:{{reportStatus[2]}}</p>
  <p class="center_item">6PM Clock Out:{{reportStatus[3]}}</p>

  <iframe class="center_item" src="http://free.timeanddate.com/clock/i6q6oko7/n251/szw210/szh210/cf100/hnce1ead6/hcw2"  width="210" height="210"></iframe>
</div>
