
<div class="header"></div>
<div id="grant_container">
  <div id="employee_info">
    <mat-checkbox [(ngModel)]="showPendingOnly">
      <i>Show Operator With Pending Request Only</i>
    </mat-checkbox>
    <table class = "table">
      <thead >
        <tr>
          <th>Id</th>
          <th>First<br>Name</th>
          <th>Last<br>Name</th>
          <th>Has<br>Pending<br>Request</th>
          <th>9AM<br>Clock<br>In</th>
          <th>11AM<br>Clock<br>Out</th>
          <th>12PM<br>Clock<br>In</th>
          <th>6PM<br>Clock<br>Out</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody >
  <!--    Pipe, just like custom Directives, can only be used in imported module.
  it is recommanded to create a module to hold all the custom directive and pipes,
  and import into the submodules that requires this feature.
  Otherwise, if declared in main module, the main module will be imported into the submodule,
  cause the forRoot to be called twice and crash the application-->
        <tr *ngFor="let ops of operators | HasPendingRequest: showPendingOnly">
          <td>{{ops.id}}</td>
          <td>{{ops.firstName}}</td>
          <td>{{ops.lastName}}</td>
          <td>{{ops.hasPendingAbsRequest}}</td>
          <td (click)="helpClockInOut(ops.id,1)">{{ops.morningIn}}</td>
          <td (click)="helpClockInOut(ops.id,2)">{{ops.morningOut}}</td>
          <td (click)="helpClockInOut(ops.id,3)">{{ops.afternoonIn}}</td>
          <td (click)="helpClockInOut(ops.id,4)">{{ops.afternoonOut}}</td>
          <td>
            <a class="btn btn-info" (click)="setId(ops.id,true)" >Absence Records</a>
            <a class="btn btn-danger" (click)="setId(ops.id,false)">Offense Records</a>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div id="details">
    <router-outlet></router-outlet>
  </div>
</div>
