td{
  text-align: center;
}
thead{

}
#grant_container{
  margin-top: 50px;
  vertical-align: top;
  width: 90%;
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: hidden;
}
#employee_info{
  box-shadow: 10px 10px 15px 10px #717171;
  width: 40%;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 35px;
  overflow: auto;
  border: black 1px solid;
  height: 90%;
}
#details{
  padding: 10px;
  width: 40%;
  margin-left: auto;
}

@media all and (max-width: 700px) {
  #grant_container{
    margin-top: 200px;
    vertical-align: top;
    width: 80%;
    display:block;
    overflow: hidden;
  }
}

.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
