#admin_profile{
  width: 50%;
  margin-top: 50px;
  box-shadow: 10px 17px 10px 5px #717171;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid black;
  border-radius: 26px;
  text-align: center;
  padding: 10px;
}

.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
