<div id="abs_grand_container">
  <div *ngIf="!error" >
    <h1 class="text_center">Employee Id: {{id}}</h1>
  </div>
  <div *ngIf="!error" id="abs_table">
    <table *ngIf="!noRecords;else noRec" class="table">
      <thead>
        <tr>
          <th>Request Id</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reason</th>
          <th>status</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abs of absRecord">
          <td>{{abs.id}}</td>
          <td>{{abs.start_date}}</td>
          <td>{{abs.end_date}}</td>
          <td>{{abs.reason}}</td>
          <td>{{abs.status}}</td>
          <td>
            <button class="btn btn-outline-success"
              (click)="approve(abs.id)">Approve</button>
            <br>
            <button class="btn btn-outline-danger"
              (click)="reject(abs.id)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noRec> <h2>No Absence Requests Found!</h2></ng-template>
</div>
