th{
  color: black;
  text-align: center;
  padding: 2px;
  border: #bbbbbb 1px;
  font-weight: bolder;
}
td{
  color: black;
  text-align: center;
  padding: 2px;
  border: #bbbbbb 1px;
}
table{
  width: 500px;
  height: 500px;
}
.one-line{
  display: inline-block;
}
#op-meg-container{
  margin-top: 100px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100%;
  box-shadow: 10px 10px 15px 5px #f35454;
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;

}
#op-msg-operation{
  height: 100%;
  vertical-align: top;
  padding:10px;
  margin: auto;
  width: 500px;
}
#op-msg-contact{
  height:  100%;

  margin: auto;
}
#emailContent{
  color: blueviolet;
  height: 100%;
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.error_input{
  color:red;
}
.bottom_padding{
  margin-top: 250px;
}
