/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html , body {

}
body{
  overflow: visible;

}
.backgroundHandler{
  box-shadow: 10px 10px 20px 15px #717171;
  background-color: white;
  opacity: 1;
}
mat-sidenav-container .mat-drawer-content {
  overflow:auto;
}
#nonheader-contact {
  padding: 40px;
}
.mat-tab-body-content{
  padding:20px;
}

