

<app-home-slideshow>
  <h2 class="header_text">Where the work begins</h2>
  <p class="content_text">
      Human resources are the most valuable and unique assets of an organization. The successful management of an organization's human resources is an exciting, dynamic and challenging task, especially at a time when the world has become a global village and economies are in a state of flux. The scarcity of talented resources and the growing expectations of the modern day worker have further increased the complexity of the human resource function. Even though specific human resource functions/activities are the responsibility of the human resource department, the actual management of human resources is the responsibility of all the managers in an organization.
      <br><br>
      It is therefore necessary for all managers to understand and give due importance to the different human resource policies and activities in the organization. Human Resource Management outlines the importance of HRM and its different functions in an organization. It examines the various HR processes that are concerned with attracting, managing, motivating and developing employees for the benefit of the organization.
  </p>
</app-home-slideshow>
