<div class="header"></div>
<div id="op-meg-container">
  <div id="op-msg-operation" class="one-line form-group">
  <label mat-card-title>
      Email<br><input class="form-control" id="email" [(ngModel)]="contactEmail">
    </label>
    <p *ngIf="!isEmail() && contactEmail != 'click an email address'" style="color:red">Invalid Email Address!</p>
    <br>
    <label mat-card-title>
      Subject<br><input id="subject" class="form-control" >
    </label>

    <br>
    <label>
    <textarea
      class="form-control" rows="7" cols="50" id="emailContent" ></textarea>
    </label><br>
    <button class="btn btn-warning" (click)="testWebSock()" [disabled]="waitingForResponse || !isEmail()">send email</button>
    <p *ngIf="sendStatus">{{notification}}</p>

  </div>

  <div *ngIf="contacts.length > 0" id="op-msg-contact" class="one-line" style="align-self: end">
    <table mat-table [dataSource]="contacts" class="mat-elevation-z2">

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td (click)="getEmail(c.email)" mat-cell *matCellDef="let c">{{c.email}}</td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let c">{{c.firstname}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let c">{{c.lastname}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
      <tr mat-row *matRowDef="let c; columns: displayCols"></tr>

    </table>
  </div>

</div>
<p class="bottom_placeholder">&nbsp;</p>













<!--<h1>{{placeholder}}</h1>-->
<!--<label>Email<input id="email" style="color: blueviolet"></label><br>-->
<!--<label>Subject<input id="subject" style="color: blueviolet"></label><br>-->
<!--<label>-->
<!--  <textarea rows="7" cols="50" id="emailContent" style="color: blueviolet"></textarea>-->
<!--</label>-->
<!--<button (click)="testWebSock()" [disabled]="waitingForResponse">send email</button>-->
<!--<p *ngIf="sendStatus">{{notification}}</p>-->
<!--<br>-->
<!--<ul *ngFor="let con of contacts">-->
<!--  <li>{{con.email}} {{con.firstname}} {{ con.lastname}}</li>-->
<!--</ul>-->
