form{
  box-shadow: 15px 15px 10px 15px #bbbbbb;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow: auto;
  margin: 10px auto;
}
input{
  width: 100%;
}
div{
  width: 100%;
}
mat-form-field{
  width: 100%;
}
button{
  width: 100%;
}
#regContainer{
  height: 100%;
  width: 50%;
  margin: 50px auto;
}
.header{
  background-color: #f54336;
  height: 100px;
  padding: 10px;
}
.bottom_padding{
  margin-top: 100px;
}
