<div class="header"></div>

<mat-card fxLayout="column" fxLayoutGap="40px">
  <form (ngSubmit)="onSubmit()"
    fxLayout="column" [formGroup]="registerFormGroup">

    <mat-form-field >
      <mat-placeholder>First Name</mat-placeholder>
      <input matInput formControlName="firstName">
      <mat-error
        *ngIf="registerFormGroup.get('firstName').getError('required')"
      >Name Can't be Empty</mat-error>
      <mat-error
      *ngIf="registerFormGroup.get('firstName').getError('minlength')"
      >At least 1 character long</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-placeholder>Last Name</mat-placeholder>
      <input matInput formControlName="lastName">
      <mat-error
        *ngIf="registerFormGroup.get('lastName').getError('required')"
      >Name Can't be Empty</mat-error>
      <mat-error
        *ngIf="registerFormGroup.get('lastName').getError('minlength')"
      >At least 1 character long</mat-error>
    </mat-form-field>

    <mat-form-field >
     <mat-placeholder>Username</mat-placeholder>
      <input matInput formControlName="username">
      <mat-error
        *ngIf="registerFormGroup.get('username').getError('required')"
      >Name Can't be Empty</mat-error>
      <mat-error
        *ngIf="registerFormGroup.get('username').getError('minlength')"
      >At least 5 character long</mat-error>
    </mat-form-field>

    <div formGroupName="passwordGroup"
         fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="1 1 auto">
        <mat-placeholder>Password</mat-placeholder>
        <input matInput
                       formControlName="password"
                       type="password"
                       id="pw"
                       >
        <mat-error
          *ngIf="registerFormGroup.get('passwordGroup').get('password').getError('required')"
        >Password Can't be Empty</mat-error>
        <mat-error
          *ngIf="registerFormGroup.get('passwordGroup').get('password').getError('minlength')"
        >At least 6 character long</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="1 1 auto">
        <mat-placeholder>Confirm Password</mat-placeholder>
        <input matInput
               formControlName="confirmation"
               type="password"
               id="confirmation"
               >
        <mat-error
          *ngIf="registerFormGroup.get('passwordGroup').get('confirmation').getError('required')"
        >Password Can't be Empty</mat-error>
        <mat-error
          *ngIf="registerFormGroup.get('passwordGroup').get('confirmation').getError('minlength')"
        >At least 6 character long</mat-error>
      </mat-form-field>
    </div>
    <mat-error
      *ngIf="registerFormGroup.get('passwordGroup').getError('notMatch')"
    >Password does not match</mat-error>
    <mat-form-field class="mat-form-field-autofill-control">
      <mat-placeholder>Email</mat-placeholder>
      <input matInput formControlName="email" type="email">
      <mat-error
        *ngIf="registerFormGroup.get('email').getError('email')"
      >Bad email input</mat-error>
      <mat-error
      *ngIf="registerFormGroup.get('email').getError('required')">
        Email can't be empty
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button color="primary" type="submit"
    [disabled]="!registerFormGroup.valid || !registerFormGroup.get('passwordGroup').valid || waitingForServer"
    >Register</button>
    <p *ngIf="!hasResult;else result">
      <span *ngIf="waitingForServer">Waiting On Server...</span>
    </p>
  </form>
</mat-card>

<ng-template #result>
  <p *ngIf="!registrationDone;else registrationSuccess">Username Already Taken!</p>
</ng-template>
<ng-template #registrationSuccess>
  <p>Registration Successful!</p>
</ng-template>

<div class="bottom_padding"></div>
