<style>
  /*#opInfo{*/
  /*  display: inline-block;*/
  /*  padding: 15px;*/
  /*}*/
  /*#opAbstable{*/
  /*  display: inline-block;*/
  /*  vertical-align: top;*/
  /*}*/
  /*@media screen and (max-width: 600px) {*/
  /*  #opInfo{*/
  /*    display: block;*/
  /*  }*/
  /*  #opAbstable{*/
  /*    display: block;*/
  /*  }*/
  /*}*/
  /*@media not screen {*/
  /*  #opInfo{*/
  /*    display: block;*/
  /*  }*/
  /*  #opInfo{*/
  /*    display: block;*/
  /*  }*/
  /*}*/
  th{
    font-weight: bold;
    font-size: larger;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
    text-align: center;
  }
  td{
    font-size: larger;
    padding-left: 5px !important;
    text-align: left;
    width: 100px;
    word-wrap: break-spaces;
  }
  section{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: bold;

      }
  #op-container{
    margin-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    box-shadow: 10px 10px 15px 10px #717171;
    padding: 10px;
  }
  .center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;

  }

</style>
<div style="background-color: #f54336;
    height: 100px;
    padding: 10px;"></div>
<div id="op-container">
    <section>
      <p style="margin-left:auto">{{firsName}}</p>
      <p style="margin-right: auto">&nbsp;{{lastName}}</p>
    </section>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab class="center" label="Performance">
      <h2 class="center" mat-card-title>Untimely Report: {{offenses}}</h2>
      <h2 class="center" mat-card-title>Total Penalties: {{penalties | currency:'USD'}}</h2>
    </mat-tab>

    <mat-tab class="center" label="Leave Requests">
      <h1 class="center" *ngIf="!absRecords;else absRec" mat-card-title>No Record Found</h1>

      <ng-template #absRec>
    <!--<table>-->
    <!--  <thead>-->
    <!--<tr>-->
    <!--  <th>Start Date</th>-->
    <!--  <th>End Date</th>-->
    <!--  <th>Reason</th>-->
    <!--  <th>Status</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--  <tbody>-->
    <!--  <tr *ngFor="let rec of absRecords">-->
    <!--    <td>{{rec.start_date}}</td>-->
    <!--    <td>{{rec.end_date}}</td>-->
    <!--    <td>{{rec.reason}}</td>-->
    <!--    <td>{{rec.readableStatus}}</td>-->
    <!--  </tr>-->
    <!--  </tbody>-->
    <!--  </table>-->
        <table  mat-table [dataSource]="absRecords" class="mat-elevation-z7 center">

          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let rec">{{rec.start_date}}</td>
          </ng-container>

          <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef="let rec">{{rec.end_date}}</td>
          </ng-container>

          <ng-container matColumnDef="Reason">
            <th mat-header-cell *matHeaderCellDef>Reason</th>
            <td  mat-cell *matCellDef="let rec">{{rec.reason}}</td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let rec">{{rec.readableStatus}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
          <tr mat-row *matRowDef="let rec; columns: displayedCols"></tr>
        </table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<p style="margin-top: 300px">&nbsp;</p>
